<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h3c.platform.assetplan.dao.ProcessRecordInfoMapper">
  <resultMap id="BaseResultMap" type="com.h3c.platform.assetplan.entity.ProcessRecordInfo">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="AssetPlanID" jdbcType="INTEGER" property="assetplanid" />
    <result column="ApStage" jdbcType="VARCHAR" property="apstage" />
    <result column="CurrentPerson" jdbcType="VARCHAR" property="currentperson" />
    <result column="NewPerson" jdbcType="VARCHAR" property="newperson" />
    <result column="Creator" jdbcType="VARCHAR" property="creator" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, AssetPlanID, ApStage, CurrentPerson, NewPerson, Creator, CreateTime
  </sql>
  <select id="selectByExample" parameterType="com.h3c.platform.assetplan.entity.ProcessRecordInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ProcessRecordInfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ProcessRecordInfo
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ProcessRecordInfo
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.h3c.platform.assetplan.entity.ProcessRecordInfoExample">
    delete from ProcessRecordInfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.h3c.platform.assetplan.entity.ProcessRecordInfo">
    insert into ProcessRecordInfo (ID, AssetPlanID, ApStage, 
      CurrentPerson, NewPerson, Creator, 
      CreateTime)
    values (#{id,jdbcType=INTEGER}, #{assetplanid,jdbcType=INTEGER}, #{apstage,jdbcType=VARCHAR}, 
      #{currentperson,jdbcType=VARCHAR}, #{newperson,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.h3c.platform.assetplan.entity.ProcessRecordInfo">
    insert into ProcessRecordInfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="assetplanid != null">
        AssetPlanID,
      </if>
      <if test="apstage != null">
        ApStage,
      </if>
      <if test="currentperson != null">
        CurrentPerson,
      </if>
      <if test="newperson != null">
        NewPerson,
      </if>
      <if test="creator != null">
        Creator,
      </if>
      <if test="createtime != null">
        CreateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="assetplanid != null">
        #{assetplanid,jdbcType=INTEGER},
      </if>
      <if test="apstage != null">
        #{apstage,jdbcType=VARCHAR},
      </if>
      <if test="currentperson != null">
        #{currentperson,jdbcType=VARCHAR},
      </if>
      <if test="newperson != null">
        #{newperson,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.h3c.platform.assetplan.entity.ProcessRecordInfoExample" resultType="java.lang.Long">
    select count(*) from ProcessRecordInfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ProcessRecordInfo
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.assetplanid != null">
        AssetPlanID = #{record.assetplanid,jdbcType=INTEGER},
      </if>
      <if test="record.apstage != null">
        ApStage = #{record.apstage,jdbcType=VARCHAR},
      </if>
      <if test="record.currentperson != null">
        CurrentPerson = #{record.currentperson,jdbcType=VARCHAR},
      </if>
      <if test="record.newperson != null">
        NewPerson = #{record.newperson,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null">
        Creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null">
        CreateTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ProcessRecordInfo
    set ID = #{record.id,jdbcType=INTEGER},
      AssetPlanID = #{record.assetplanid,jdbcType=INTEGER},
      ApStage = #{record.apstage,jdbcType=VARCHAR},
      CurrentPerson = #{record.currentperson,jdbcType=VARCHAR},
      NewPerson = #{record.newperson,jdbcType=VARCHAR},
      Creator = #{record.creator,jdbcType=VARCHAR},
      CreateTime = #{record.createtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.h3c.platform.assetplan.entity.ProcessRecordInfo">
    update ProcessRecordInfo
    <set>
      <if test="assetplanid != null">
        AssetPlanID = #{assetplanid,jdbcType=INTEGER},
      </if>
      <if test="apstage != null">
        ApStage = #{apstage,jdbcType=VARCHAR},
      </if>
      <if test="currentperson != null">
        CurrentPerson = #{currentperson,jdbcType=VARCHAR},
      </if>
      <if test="newperson != null">
        NewPerson = #{newperson,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        Creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.h3c.platform.assetplan.entity.ProcessRecordInfo">
    update ProcessRecordInfo
    set AssetPlanID = #{assetplanid,jdbcType=INTEGER},
      ApStage = #{apstage,jdbcType=VARCHAR},
      CurrentPerson = #{currentperson,jdbcType=VARCHAR},
      NewPerson = #{newperson,jdbcType=VARCHAR},
      Creator = #{creator,jdbcType=VARCHAR},
      CreateTime = #{createtime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>